* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fff !important;
  background-color: black !important;
}

.netflix-logo {
  max-width: 120px;
}
.dark-bg {
  background-color: black !important;
}

.play {
  display: flex;
  align-items: center;
  gap: 12px;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 850px;

  /* padding: 5% 30%; */
}
.play-icons {
  font-size: 48px;
}

.hr-profile {
  background-color: #fff;
}
